[submodule "LZ77-Technique"]
	path = LZ77-Technique
	url = git@github.com:fatema123elfiky/LZ77-Technique.git
[submodule "Standard-Huffman-Technique"]
	path = Standard-Huffman-Technique
	url = git@github.com:fatema123elfiky/Standard-Huffman-Technique.git
[submodule "Vector-Cmp"]
	path = Vector-Cmp
	url = git@github.com:fatema123elfiky/Vector-Cmp.git
[submodule "PredictiveCoding2D"]
	path = PredictiveCoding2D
	url = https://github.com/fatema123elfiky/PredictiveCoding2D.git
